div{
    float:left;
    margin:15px;
}
.one{
    background-color: blue;
    height: 100px;
    width: 200px;
}
.two{
    background-color: pink;
    height: 100px;
    width: 200px;
}
.three{
    background-color: aqua;
    height: 100px;
    width: 200px;
}
.four{
    background-color: yellow;
    height: 100px;
    width: 200px;
}
.five{
    background-color: green;
    height: 100px;
    width: 200px;
}
.six{
    background-color: red;
    height: 100px;
    width: 200px;
}